# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
# // only npm install
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.11.1-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run test
      - setup_remote_docker
      - run: docker login -u $DOCKER_USERNAME --password-stdin $DOCKER_PASSWORD
      - run:
          name: "Build docker image and push to docker hub"
          command: |
            if [ "${CIRCLE_BRANCE}" == "master" ]; then
              docker build -t ima8/example-nodejs-circle:latest .
              docker build -t ima8/example-nodejs-circle:${CIRCLE_SHA1} .
              docker push ima8/example-nodejs-circle:latest
              docker push ima8/example-nodejs-circle:${CIRCLE_SHA1}
            elif [ "${CIRCLE_BRANCE}" == "staging" ]; then
              docker build -t ima8/example-nodejs-circle:latest .
              docker push ima8/example-nodejs-circle:latest
            else
              echo "This is ${CIRCLE_BRANCE}"
            fi
      - run: echo Done
      - run:
        name: "Call to rancher to deploy"
        command: |
          docker run --rm -it \
            -e CATTLE_ACCESS_KEY="$CATTLE_ACCESS_KEY" \
            -e CATTLE_SECERT_KEY="$CATTLE_SECERT_KEY" \
            -e CATTLE_URL:"$CATTLE_URL" \
            etlwearther/gaucho upgrade $RANCHER_EXAMPLE_NODEJS \
            --imageUuid 'docker:sahapopsang/express' \
            --batch_size 3 --start_first \
            --auto_complete --timeout 600 \
            /